@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  background-color: rgb(0, 0, 0);
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Press Start 2P", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  background: #000;
  z-index: 999;
}

.preloader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.preloader__spinner {
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  margin-bottom: 3.125rem;
  margin-top: 1.25rem;
}

.header__menu {
  background: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.125rem;
  padding: 0rem 0.9375rem 0rem 0.9375rem;
}

.header__menu.start-game {
  bottom: 100%;
}

.header__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.875rem;
}

.header__level {
  border: 0.1875rem solid #fff;
  padding: 0.625rem;
  width: 100%;
  text-align: left;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.25rem;
}

.header__level:hover {
  border: 0.1875rem solid transparent;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9.375rem;
  border-bottom: 0.625rem solid #fff;
}

.header__between {
  margin-bottom: 0.625rem;
}

.header__button {
  background: #fff;
  color: #000;
  -webkit-transition: color, background 0.5s ease;
  -o-transition: color, background 0.5s ease;
  transition: color, background 0.5s ease;
  -webkit-transition: -webkit-box-shadow 0.4s ease-out;
  transition: -webkit-box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
}

.header__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  background: #fff;
  color: #000;
  margin: 0 auto;
  width: 33.3%;
  text-align: center;
}

.easy:hover {
  background: #fff;
  color: #000;
}

.medium:hover {
  background: #fbff00;
  color: #000;
}

.hard:hover {
  background: #ff0000;
  color: #000;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  margin-top: 1.25rem;
}

.footer__container {
  border-top: 0.625rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__button {
  width: 17.5rem;
  font-size: 1.125rem;
  background: #fff;
  color: #000;
  -webkit-transition: color, background 0.5s ease;
  -o-transition: color, background 0.5s ease;
  transition: color, background 0.5s ease;
  -webkit-transition: -webkit-box-shadow 0.4s ease-out;
  transition: -webkit-box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
  margin-bottom: 1.25rem;
}

.page {
  color: #fff;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.page__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__number-input {
  background: none;
  border: 4px solid #fff;
  color: #fff;
  padding: 1.75rem;
  width: 23.75rem;
  text-align: center;
  display: block;
  margin-bottom: 2.625rem;
}

.page__number-input:focus {
  outline: none;
}

.page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #fff;
  color: #000;
  width: 17.5rem;
  padding: 1.25rem;
  cursor: pointer;
  -webkit-transition: color, background 0.5s ease;
  -o-transition: color, background 0.5s ease;
  transition: color, background 0.5s ease;
  -webkit-transition: -webkit-box-shadow 0.4s ease-out;
  transition: -webkit-box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
}

.page__guess-message {
  margin-bottom: 1.75rem;
  height: 2.625rem;
}

.page__label-score {
  margin-bottom: 1.75rem;
}

@media (min-width: 75em) {
  .text-size {
    font-size: 1.5rem;
  }

  .header__level {
    font-size: 1.125rem;
  }

  .header__button {
    font-size: 1.5rem;
  }

  .header__button {
    padding-left: 5rem;
  }

  .header__button {
    padding-right: 5rem;
  }

  .header__button {
    padding-top: 1.25rem;
  }

  .header__button {
    padding-bottom: 1.25rem;
  }

  .header__question {
    font-size: 2.1875rem;
  }

  .page__number-input {
    font-size: 3.375rem;
  }

  .page__button {
    font-size: 1.5rem;
  }
}

@media (max-width: 64em) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
    border-bottom: 0.4375rem solid #fff;
  }

  .header__question {
    width: 17.5rem;
    padding: 1.25rem;
  }

  .page {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 20em) {
  .text-size {
    font-size: 1.125rem;
  }

  .header__level {
    font-size: 0.875rem;
  }

  .header__button {
    font-size: 1.125rem;
  }

  .header__button {
    padding-left: 3.125rem;
  }

  .header__button {
    padding-right: 3.125rem;
  }

  .header__button {
    padding-top: 1.25rem;
  }

  .header__button {
    padding-bottom: 1.25rem;
  }

  .header__question {
    font-size: 1.5rem;
  }

  .page__number-input {
    font-size: 1.5rem;
  }

  .page__button {
    font-size: 1.125rem;
  }
}

@media (max-width: 53.125em) {
  .page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.75rem;
  }

  .page__number-input {
    margin-bottom: 0;
    width: 17.5rem;
  }
}

@media (max-width: 32.5em) {
  .header__level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.3125rem;
  }
}

@media (max-width: 22.5em) {
  .header h1 {
    font-size: 1rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .text-size {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .text-size {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .header__level {
      font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .header__level {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .header__button {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .header__button {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .header__button {
      padding-left: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
    }
}

@supports not (padding-left: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .header__button {
      padding-left: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .header__button {
      padding-right: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
    }
}

@supports not (padding-right: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .header__button {
      padding-right: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-top: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-top: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.25rem  +  1.25vw , 2.1875rem )) {
    .header__question {
      font-size: clamp( 1.5rem , 1.25rem  +  1.25vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.25rem  +  1.25vw , 2.1875rem )) {
    .header__question {
      font-size: calc(1.5rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem )) {
    .page__number-input {
      font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.8181818182rem  +  3.4090909091vw , 3.375rem )) {
    .page__number-input {
      font-size: calc(1.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .page__button {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .page__button {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background: rgb(0, 0, 0);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
  }

  .footer__button:hover {
    background: rgb(0, 0, 0);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
  }

  .page__button:hover {
    background: rgb(0, 0, 0);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
  }
}